.ForecastDetails {
  background-color: var(--main-light-color);
  padding-top: 1.5rem;
}

.ForecastDetailsHeader {
  color: var(--secondary-dark-color);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.ForecastDetailsHeader span {
  color: rgb(129, 129, 129);
  font-size: 0.7rem;
  font-weight: 300;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .ForecastDetails {
    padding-top: 2rem;
  }

  .ForecastDetailsHeader {
    font-size: 1.25rem;
  }

  .ForecastDetailsHeader span {
    font-size: 0.85rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ForecastDetails {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ForecastDetails {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
  }

  .ForecastDetailsHeader {
    font-size: 1.5rem;
  }
}
