.CurrentWeather {
  background-color: var(--main-dark-color);
  background-image: url(../../assets/images/clouds.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--light-font-color);
  padding-top: 2rem;
  position: relative;
}

.CurrentWeatherItem {
  margin: 5px 0;
}

.CurrentLocation {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .CurrentLocation {
    font-size: 0.75rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .CurrentWeather {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .CurrentWeather {
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .CurrentLocation {
    font-size: 0.85rem;
  }
}
