.ForecastItems th {
  color: var(--secondary-dark-color);
  font-weight: 400;
  text-align: center;
}

.Rain,
.Wind span {
  font-size: 0.7rem;
}

.Wind {
  display: none;
}

.Placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .Wind {
    display: table-cell;
  }
}
