.CurrentWeatherMeta {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}

.CurrentWeatherMeta span {
  margin: 0 0.25rem;
}

.CurrentWeatherMeta img {
  width: 4px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .CurrentWeatherMeta {
    font-size: 0.8rem;
  }
}
